.more-info{
    background-image: url(/Users/macbookair/Documents/portfolio/src/images/desktop-wallpaper-portfolio.jpg);
    background-size: cover;
    background-position: center;
    height: 92.32vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.quote-block {
    background-color: #d4e9f4;
    padding-right: 10px;
  }